/* 
Основной цвет текста #757575
Вторичный цвет текста #212121
Цвет подсвечивания #2196F3
Фон шапки #FFFFFF
Основной фон #E5E5E5
Вторичный фон #F5F4FA
 */

 :root {
    --primary-text-color: #757575;
    --secondary-text-color: #212121;
    --background-primary: #FFFFFF;
    --background-secondary: #F5F4FA;
    --footer-background-site: #2F303A;
    --hover-color: #2196F3;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body{
   font-family: 'Roboto', sans-serif; 
   
   background-color: var(--background-site);
    color: var(--primary-text-color);

}

ul {
   list-style: none;
}

a{
   text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p{
    margin-top: 0;
    margin-bottom: 0em;
}


/* Утилитные классы */

.container{
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}

.list{
    margin: 0;
    padding: 0;
    list-style: none;
}



/* Шапка */
.main-nav{
    display: flex;
    align-items: center;
}

.site-nav{
    display: flex;
    margin-left: 86px;
}

.contacts-nav{
    display: flex;
    margin-left: auto;
}

.logo{
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    
    color: #000000;
}

.web-logo{
    padding-right: 5px;

    color: var(--hover-color);
}

.site-nav .link{
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--secondary-text-color);
}


.site-nav .item:not(:last-child){
    margin-right: 50px;
}


.site-nav a:hover,
.site-nav a:focus{
    color: var(--hover-color);
}

.link.current{
    position: relative;    
    color: var(--hover-color);
}

.link.current::after{
    display: block;
    content: '';

    position: absolute;
    bottom: 0;

    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--hover-color);
}

.contacts-nav .item:not(:first-child){
    margin-left: 30px;    
}

.icon-envelope{
    width: 16px;
    height: 12px;
    margin-right: 8px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.item.envelope:hover .icon-envelope{
    fill: var(--hover-color);
}


.icon-phone{
    width: 10px;
    height: 15px;
    margin-right: 8px;
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.item.phone:hover .icon-phone{
    fill: var(--hover-color);
}

.contacts-nav .link{
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
        
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: var(--primary-text-color);
}

.contacts-nav a:hover,
.contacts-nav a:focus{
    color: var(--hover-color);
}

/* Портфолио */
.portfolio{
    padding-top: 93px;
    padding-bottom: 94px;
    border-top: 1px solid #ECECEC;

}


.portfolio .main-title{
    display: none;
}

.project .description{
    position: absolute;
    top: 0;
    left: 0;
    padding: 63px 24px;

    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--background-primary);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    opacity: 0;
}

.project .card-info{
    position: relative;
    overflow: hidden;
}

.card-info::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    opacity: 0;
}

.project .item:hover .card-info::before,
.project .item:hover .card-info .description{
    opacity: 1;
    transform: translateY(0);
}

.container .nav-menu{
    display: flex;
    justify-content: center;
}

.nav-menu .item:not(:last-child){
    margin-right: 8px;
}

.portfolio .button{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border: 0px;
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color);
    background-color: var(--background-secondary);
    border-radius: 4px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.portfolio .button:hover,
.portfolio .button:focus{
    color: var(--background-primary);
    background-color: var(--hover-color);
}

.container .project{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.main-project-description{
    border: 1px solid #EEEEEE;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-bottom: 20px;

}

.project img{
    display: block;
}

.project .item{
    margin-right: 30px;
    margin-bottom: 30px;
    box-sizing: border-box;
    width: 370px;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);


    /* border: 1px solid #EEEEEE; */
}

.project .item:hover{
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);

}

.project .item:nth-child(3n){
    margin-right: 0;
}

.project .item:nth-last-child(-n+3){
    margin-bottom: 0;
}

.project .project-name{
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 20px;
    
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    color: var(--secondary-text-color);
}

.project .project-type{
    margin-left: 21px;
    margin-right: 21px;
    margin-top: 4px;
    /* margin-bottom: 20px; */

    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

/* .project .description{
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--primary-text-color);
}

/* .project .description:hover{
    color: var(--background-primary);
    background-color: var(--hover-color);
} */

.footer {
    background-color: var(--footer-background-site);
    padding-top: 48px;
    padding-bottom: 21px;
}

.footer .flex-container{
    display: flex;
    margin-bottom: 28px;
    align-items: baseline;
}

.footer .logo{
    font-size: 22px;
    line-height: 1.18;
    letter-spacing: 0.03em;

    color: var(--background-primary);
}

.contact-info .info{
    margin-top: 10px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--background-primary);
}

.contact-info a{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
}

.footer .follow{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: var(--background-primary);
}

.copy-block{
    padding-top: 18px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer .copy-right{
    font-size: 12px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.03em;
}

.social-container{
    margin-left: 69px;
}

.social-links{
    display: flex;
    margin-top: 21px;
}

.social-links .item:not(:last-child){
    margin-right: 10px;
}

.social-links .item{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;

    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background-color: #43444D ;
}

.social-links .social-icon{
    width: 20px;
    height: 20px;
    fill: var(--background-primary);
}

.social-links .item:hover,
.social-links .item:focus{
    background-color: var(--hover-color);
}

.subscribe-conteiner{
    margin-left: auto;
}

.subscribe-form{
    display: flex;
    margin-top: 21px;
}

.subscribe-icon{
    margin-left: 10px;
}

.email-form{
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 12px;

    font-size: 16px;
    line-height: 1.83;
}

.footer .button{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
    margin-left: 12px;
    border-radius: 4px;
    padding: 0;
    border: none;
    
    font-weight: 900;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    color: var(--background-primary);
    background-color: var(--hover-color);
}